/* Header */
.Banner {
  margin-top: 10px;
  height: 112.5px;
  width: auto;
  display: inline-block;
}
.Terms {
  display: inline-block; /* or just inline */
  width: fit-content;    /* key change */
  padding: 5px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: center;
  color: transparent;
  -webkit-background-clip: text; /* needed for Safari/Chrome */
  background-clip: text;
  background-image: linear-gradient(
    to right,
    #ff3c9e,
    #ff3c9e 15%,
    #0080ff 50%,
    #0080ff
  );
  background-color: transparent;
}
.Navigation {
  position: fixed;
  list-style: 131px;
  height: auto;
  z-index: 4;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100vw;
  font-size: 1.1em;
  border-radius: 0px;
  background-color: transparent;
  background-image: linear-gradient(to top, #646464, #000000);
}
#RIinput {
font-size: 15px;
height: 40px;
line-height: 40px;
text-indent: .4em;
background-color: transparent; 
width: 100%; 
background-size: 35px; 
text-align: left; 
border: none;
font-family: 'Arial';
cursor: pointer;
} 
#OpenSearch {
  margin: 10px;
  height: 40px;
  line-height: 40px;
  background-color: #9a6e9a; /* fallback */
  background-image:
  url('https://dl.dropbox.com/scl/fi/npibij3b9v0n9ptq5pz8q/IDTEXTURE.png?rlkey=xy47f50nl21mi7839eqsdo86b&dl=1');
  background-size: 100px 100%;         
  background-position: center center;
  background-repeat: repeat-x;
  background-attachment: scroll;
  position: fixed;
  right: 0px;
  bottom: 0px;
  z-index: 5;
  width: 50%;
  overflow: hidden;
  border-radius: 0px;
  border: solid .5px #ffffff;
  animation: Identified 4s linear infinite;
}
#RIsearchboxSubmit {
  font-size: 15px;
  height: 40px;
  line-height: 40px;
  background-color: rgba(255, 255, 255, .9);
  color: #000000;
  min-width: 30%;
  border: none;
  text-align: center;
  opacity: 1;
  z-index: 3;
  font-family: 'Arial';
  cursor: pointer;
  background-repeat: no-repeat;
  background-image: url('https://dl.dropbox.com/scl/fi/92lsphjvmvuizl8o1si7y/Screens.png?rlkey=06fei0sqyl10yfe9yonegzlrz');
  background-size: auto 100%;
  background-position: center center;
  transition-duration: .1s;
  filter: invert(1) grayscale(1);
}
#RIsearchboxSubmit:hover {
cursor: pointer;
text-decoration: underline;
font-size: 18px;
filter: invert(0) grayscale(1);
}

@keyframes Identified {
  0% {
    background-position: 0% center, 0% center;
  }
  100% {
    background-position: 100px center, 500px center;
  }
}