html {
  -webkit-text-size-adjust: 100%; /* Prevent font scaling in landscape while allowing user zoom */
}
/* Hide scrollbar for WebKit-based browsers (Chrome, Safari, Edge) */
html::-webkit-scrollbar, body::-webkit-scrollbar {
  display: none; /* Completely hides the scrollbar */
}
/* Hide scrollbar for Firefox */
html, body {
  scrollbar-width: none; /* Firefox-specific property to hide scrollbar */
}
/* ----Main---- */
html {
  width: 100%;
  height: 100%;
  margin: 0;
}
body {
  width: 100%;
  height: 100%;
  margin: 0;
  min-height: 100%;
  color: #000000;
  font-family: 'FL';
  font-size: 22px;
  z-index: 0;
  background-color: #995931;
}
@font-face {
  font-family: 'FL';
  src: url('freshmarker.ttf') format('truetype');
}
@font-face {
  font-family: 'FL2';
  src: url('MARSNEVENEKSK.otf') format('truetype');
}
:focus {
  outline: none;
}
a {
  color: #ffffff;
  text-decoration: none;
  transition-duration: .5s;
}
a:hover {
  color: #ffff00;
}
header {              
  position: fixed;
  bottom: 0px;
  width: 100vw;
  height: 10dvh;
  display: inline-flex;
  justify-content: center;  /* horizontal */
  align-items: center;      /* vertical */
  padding: 0px;
  overflow: hidden;
  opacity: 1;
  outline: none;
  z-index: 7;
  border-top: solid .5px #000000;
  background-color: transparent;
  color: #000000;
  background-image: linear-gradient(to top, rgb(255, 255, 255, .5), rgb(255, 255, 0, .5));
  backdrop-filter: blur(10px);
}
/*-------------------FLName---------------------*/
.FLName {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: auto;
  line-height: 1.5vh;
  font-size: 3vh;
  font-family: 'FL';
  position: absolute;
  top: 0vh;
  right: 0vh;
  margin: 3vh;
  z-index: 4;
}
.FLNameWritten1 {
  font-family: "FL";
  width: auto;
  height: 2vh;
  display: block;
  opacity: 1;
  transform: translateX(-100vw);
  animation: FastLane .4s linear 1s 1 forwards;
  color: #ffffff; 
}
.FLNameWritten2 {
  font-family: "FL";
  width: auto;
  height: 2vh;
  display: block;
  opacity: 1;
  transform: translateX(-100vw);
  animation: FastLane 2s linear 1 forwards;
  color: #ffffff; 
}
.FLNameSay {
  height: 7vh;
  width: 7vh;
  transition-duration: .2s;
  cursor: pointer;
  margin: 1.2vh;
}
.MenuLeft {
  z-index: 3;
  position: absolute;
  font-size: .6em;
  line-height: 3.5vh;
  left: 0vh;
  top: 0vh;
}
.MenuMiddle {
  z-index: 3;
  position: absolute;
  font-size: .6em;
  line-height: 3.5vh;
  left: calc(50% - 3.5vh);
  top: 0vh;
}

/*-------------------FLName---------------------*/
h1 {
font-size: 25px;
line-height: auto;
}
section {
  width: 100%; 
}
article {
/*-----------No Relative Within Relative------*/
  height: auto;
}
footer {
  width: calc(100% - 2em); /* Full width */
  height: auto;
  font-family: 'FL';
  position: relative;
  padding: 2em 1em calc(2em + 10dvh) 1em;
  font-size: 18px;
  line-height: 2em;
  border-top: solid .5px transparent;
  background-color: #696900;
  text-align: center;
}
.Title {
  font-family: 'FL2';
  font-size: 40px;
  height: 40px;
  line-height: 40px;
  padding: 10px 10px 0px 10px;
  margin: 10px 10px 5px 10px;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  width: fit-content;
  display: inline-block;
  background-image: linear-gradient(to top, #ffffff, #ffff00);
  background-color: transparent;
  color: #000000;
  min-width: 45vw; 
}
select { 
  outline: none; 
  }
.SocialMedia {
  width: 12vw;
  max-width: 60px;
  height: auto;
  margin: 1.2vw;
  position: relative;
  display: inline-block;
  transition-duration: .1s;
}
.SocialMedia:hover {
  transform: scale(1.2);
}
.MusicVideoContainer {
  margin: 10px;
  width: calc(100% - 20px);
  height: 100%;
  border: solid .5px #ffffff;

  display: block;
  box-sizing: border-box;
  overflow: hidden;

  background-image: linear-gradient(
    to top,
    rgb(255,255,255,.3),
    transparent,
    rgb(255,255,255,.3)
  );

  border-top-left-radius: 20px;
  border-bottom-right-radius: 20px;
}
.FirstScreen {
  position: fixed; 
  top: 0px;     
  left: 0;
  width: 100%;
  height: 100%; 
  display: flex;
  overflow: hidden;
  z-index: -1;
  background-image: url('fmp3simages/GoodForYou.jpg');
  background-repeat: no-repeat;
  background-position: center center;
}
.Socials {
  line-height: auto;
  width: auto;
  display: inline-block;
  font-size: 13px;
  font-family: Futura;
}
.Socials:hover {
  text-decoration: underline;
}
.Booking {
  margin: 10px 5vw 10px 5vw;
  padding: 10px 10px 5px 10px;
  width: calc(90vw - 39px);
  height: 50px; 
  position: relative;
  display: flex;               
  justify-content: center;     
  align-items: center;   
  background-color: rgba(0, 0, 0, .5);
  border: solid .5px #ffffff;
  background-image: url('https://dl.dropbox.com/scl/fi/acpce2btmvyu4cxk0b4wr/ConcertSimulation.gif?rlkey=rlqbc5fd3fclvzbdqwv10fjml');
  background-size: cover;
  background-position: center center;
}
.Booking:hover {
  text-decoration: underline;
}

@media screen and (orientation: portrait) {
  .FirstScreen {
    background-size: 90% auto;
  }
}

@media screen and (orientation: landscape) {
  .FirstScreen {
    background-size: auto 65%;
  }
  .FirstVideoScreen {
    position: absolute;      
    left: 0;
    width: 100%;
    max-width: 100%;
    /*-----------For ipad----------*/
    height: 90vh; 
  }
}

@keyframes FastLane {
  0% { transform: translateX(-100vw); }
  100% { transform: translateX(0); }
}