html {
  -webkit-text-size-adjust: 100%; /* Prevent font scaling in landscape while allowing user zoom */
}
/* Hide scrollbar for WebKit-based browsers (Chrome, Safari, Edge) */
html::-webkit-scrollbar, body::-webkit-scrollbar {
  display: none; /* Completely hides the scrollbar */
}
/* Hide scrollbar for Firefox */
html, body {
  scrollbar-width: none; /* Firefox-specific property to hide scrollbar */
}
/* ----Main---- */
html {
  height: 100%;
  margin: 0;
  padding: 0;
}
body {
  width: 100%;
  max-width: 100vw;
  min-height: 100dvh;
  height: 100%;
  margin: 0;
  padding: 0;
  color: #ffffff;
  font-family: 'FL';
  font-size: 22px;
  z-index: 0;
  background-color: #ffff00;
}
@font-face {
  font-family: 'FL';
  src: url('freshmarker.ttf') format('truetype');
}
@font-face {
  font-family: 'FL2';
  src: url('MARSNEVENEKSK.otf') format('truetype');
}
:focus {
  outline: none;
}
a {
  color: #ffffff;
  text-decoration: none;
  transition-duration: .5s;
}
a:hover {
  color: #ffff00;
}
header {              
  position: fixed;
  bottom: 0px;
  right: 0px;
  width: auto;
  height: auto;
  line-height: auto;
  display: inline-flex;
  align-items: center;      /* vertical */
  padding: 0px;
  overflow: hidden;
  opacity: 1;
  outline: none;
  z-index: 7;
  background-color: transparent;
  color: #000000;
}
/*-------------------FLName---------------------*/
.FLNameButton {
  right: 0px;
  top: 0px;
  padding: 0px 2% 0px 2%;
  max-width: 50vw;
  overflow: hidden;
  font-size: 5vw;
  font-family: 'FL2';
  width: fit-content;
  text-align: center;
  background-clip: text;
  cursor: pointer;
  color: transparent;
  transition-duration: .5s;
  background-color: transparent;
  background-image: linear-gradient(to left, transparent 2%, #000000);
  opacity: 1;
  position: fixed;
  display: inline-block;
  z-index: 3;
}
.FLNameButton:hover {
  transform: scale(1.05);
} 

/*-------------------FLName---------------------*/
h1 {
font-size: 25px;
line-height: auto;
}
footer {
  width: 100%;
  height: 100px;
  box-sizing: border-box;
  padding: 2em;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Arial, sans-serif;
  font-size: 13px;
  line-height: 26px;
  background: #000000;
  margin-bottom: -2px;
}
.Title {
  font-family: 'FL2';
  font-size: 45px;
  width: 300px;
  max-width: calc(100% - 20px);
  height: 60px;
  line-height: 60px;
  margin: 10px 10px 5px 10px;
  border-radius: 90px;
  overflow: hidden;
  position: relative;
  display: inline-block;
  color: #000000;
  background-color: transparent;
  background-image: radial-gradient(rgba(125, 125, 125, .7), transparent);
  backdrop-filter: blur(5px);
  transition-duration: .5s;
}
.Title:hover {
  color: #d1d1d1;
}
.YoutubeContainer {
  height: 24px;
  max-height: 24px;
  margin: 2px;
}
.icon {
  height: 45px;
  width: auto;
  margin: 0px 10px -10px 0px;
}
.LinkMenu {
  height: auto;
  width: auto;
  position: fixed; 
  top: 0px;
  left: 0px;
  z-index: 6;
  display: flex;
  gap: 0;
  justify-content: center;
  margin: 10px;
}
.iconlinkpic {
  width: 30px;
  height: 30px;
  object-fit: contain;
  display: block;
}
.wordlink {
  width: auto;
  height: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 15px;
  line-height: 1;
  text-align: center;
}
.iconlinkcontainer {
  color: #000000;
  width: 40px;
  height: 40px;
  padding: 0px;
  background-color: transparent;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  vertical-align: top;
  box-sizing: border-box;
  transition-duration: .5s;
}
.iconlinkcontainer:hover {
filter: invert(.8);
text-decoration: underline;
}
select { 
  outline: none; 
  }
.FirstScreen {
  position: fixed; 
  top: 0px;     
  left: 0;
  width: 100%;
  height: 100%; 
  display: flex;
  overflow: hidden;
  z-index: -1;
  background-image: url('fmp3simages/GoodForYouUnder.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
}
.Warning {
  font-family: Arial; 
  text-align: center; 
  font-size: 13px; 
  line-height: 25px; 
  position: fixed; 
  z-index: 3; 
  bottom: 0px; 
  left: 0px; 
  color: #000000; 
  background-color: #ffffff; 
  width: calc(100% - 80px); 
  height: auto; 
  padding: 20px; 
  margin: 20px;
  animation: warning 1s ease 10s forwards;
  filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, .5));
}
.WarningButton {
  background-color: #ffff00;
  color: #000000;
  padding: 10px;
  cursor: pointer;
  width: calc(100% - 22px);
  margin-top: 10px;
  border: solid 1px #000000;
  transition-duration: .5s;
}
.WarningButton:hover {
  background-color: #ffffff;
}

@media only screen and (orientation: portrait) {
.FLNameButton {
  font-size: 9vw;
}
}
@media only screen and (orientation: landscape) {
.FLNameButton {
  font-size: 9vh;
}
}

@keyframes floatHeart {
  0% {
    opacity: 0;
    transform: translateY(0) scale(.6);
  }

  15% {
    opacity: 1;
  }

  75% {
    opacity: 1;
  }

  90% {
    opacity: 0;
    transform: translateY(-35px) scale(1);
  }
}