html {
  -webkit-text-size-adjust: 100%; /* Prevent font scaling in landscape while allowing user zoom */
}
/* Hide scrollbar for WebKit-based browsers (Chrome, Safari, Edge) */
html::-webkit-scrollbar, body::-webkit-scrollbar {
  display: none; /* Completely hides the scrollbar */
}
/* Hide scrollbar for Firefox */
html, body {
  scrollbar-width: none; /* Firefox-specific property to hide scrollbar */
}
/* ----Main---- */
html {
  height: 100%;
  margin: 0;
}
body {
  width: 100%;
  height: 100%;
  margin: 0;
  min-height: 100dvh;
  color: #ffffff;
  font-family: 'FL';
  font-size: 22px;
  z-index: 0;
  background-color: #ffff00;
}
@font-face {
  font-family: 'FL';
  src: url('freshmarker.ttf') format('truetype');
}
@font-face {
  font-family: 'FL2';
  src: url('MARSNEVENEKSK.otf') format('truetype');
}
:focus {
  outline: none;
}
a {
  color: #ffffff;
  text-decoration: none;
  transition-duration: .5s;
}
a:hover {
  color: #ffff00;
}
header {              
  position: fixed;
  bottom: 0px;
  right: 0px;
  width: auto;
  height: auto;
  line-height: auto;
  display: inline-flex;
  align-items: center;      /* vertical */
  padding: 0px;
  overflow: hidden;
  opacity: 1;
  outline: none;
  z-index: 7;
  background-color: transparent;
  color: #000000;
}
/*-------------------FLName---------------------*/
.FLNameButton {
  margin: 50px auto 10px auto;
  font-size: 12vw;
  font-family: 'FL2';
  width: fit-content;
  display: inline-block;
  position: relative;
  text-align: center;
  background-clip: text;
  cursor: pointer;
  color: #000000;
  transition-duration: .5s;
}
.FLNameButton:hover {
  transform: scale(1.05);
} 
.FLBuyButton:hover {
  padding: 7.5px 10px 7.5px 10px;
} 

/*-------------------FLName---------------------*/
h1 {
font-size: 25px;
line-height: auto;
}
section {
  width: 100%;
}
article {
/*-----------No Relative Within Relative------*/
  height: auto;
}
footer {
  width: calc(100% - 2em); /* Full width */
  height: auto;
  font-family: 'FL';
  position: relative;
  padding: 2em 1em calc(2em + 50px) 1em;
  font-size: 18px;
  line-height: 2em;
  border-top: solid .5px transparent;
  background-color: #696900;
  background-image: url('images/TrashTexture.jpg');
  background-size: cover;
  background-position: center center;
  text-align: center;
}
.Title {
  font-family: 'FL';
  min-width: calc(30% - 42px); 
  font-size: 45px;
  height: 45px;
  line-height: 45px;
  margin: 10px 10px 5px 10px;
  padding: 5px;
  border-radius: 90px;
  overflow: hidden;
  position: relative;
  display: inline-block;
  color: #000000;
  background-color: transparent;
  background-image: radial-gradient(rgba(125, 125, 125, .7), transparent);
  backdrop-filter: blur(5px);
}
.YoutubeContainer {
  height: 24px;
  max-height: 24px;
}
.icon {
  height: 45px;
  width: auto;
}
.LinkMenu {
  position: fixed; 
  top: 0px; 
  right: 0px; 
  margin: 5px;
  z-index: 6;
}
.iconlinkpic {
  display: block;
  height: 15px;
  width: 15px;
}
.iconlink,
.MoreInfo {
  font-size: 13px;
  height: 15px;
  width: auto;
  padding: 5px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
  background-color: #ffffff;
  background-image: linear-gradient(to top, #ffffff, #ffff00);
  background-size: cover;
  background-position: center center;
  border-radius: 5px;
  border: solid 1px #000000;
  transition-duration: .5s;
  position: relative;
  color: #000000;
  box-sizing: content-box;
}
.MoreInfo:hover {
  text-decoration: underline;
}
.iconlink:hover, .MoreInfo:hover {
  transform: scale(1.1);
}
select { 
  outline: none; 
  }
.FirstScreen {
  position: fixed; 
  top: 0px;     
  left: 0;
  width: 100%;
  height: 100%; 
  display: flex;
  overflow: hidden;
  z-index: -1;
  background-image: url('fmp3simages/GoodForYouUnder.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
}
.Socials {
  line-height: auto;
  width: auto;
  display: inline-block;
  font-size: 13px;
  font-family: Futura;
}
.Socials:hover {
  text-decoration: underline;
}
li {
  list-style: none;
  background-color: #ffff00;
  border-radius: 8px;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.4);
  margin: 10px auto;
  padding: 10px 10px 55px 10px;
  width: calc(100% - 40px);
  max-width: 1000px;
  text-align: center;
  position: relative;
  pointer-events: none; /* disable clicks on the li */
}
.love {
  position: absolute; 
  width: auto; 
  height: 45px; 
  line-height: 30px;
  right: 5px;
  bottom: 5px;
  cursor: pointer;
  transition-duration: .5s;
  pointer-events: auto;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, .5);
  }
.love table {
    border-collapse: collapse;
    border-spacing: 0;
    margin: 0;
    padding: 0;
  }
.love td,
.love th {
  padding: 0;
  margin: 0;
}
  .love:hover {
    transform: scale(1.05);
  }
  .love:hover .hearteffect {
    opacity: .5
  }
.hearteffect {
  position: absolute;
  inset: 0;
  pointer-events: none;
  overflow: hidden;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 45px;
  height: 45px;
  z-index: 1;
}
.postcart {
  width: 30px;
  height: 30px;
  display: block;
  margin: 0 auto;
}
.postprice {
  border: solid 2px #616161;
  background-color: #ffffff;
  font-size: 10px;
  position: relative;
  width: 30px;
  height: 30px;
  border-radius: 5px;
}
.hearteffect2 {
  position: relative;
  inset: 0;
  pointer-events: none;
  overflow: hidden;
  width: 45px;
  height: 45px;
  z-index: 1;
}
.heart {
  position: absolute;
  width: 15px;
  height: 15px;
  background: url('fmp3simages/Heart.png') center/contain no-repeat;
  opacity: 0;
  animation: floatHeart 1s infinite linear;
  background-color: transparent;
}
/* 4 locations */
.h1 { left: 5px;  bottom: 3px;  animation-delay: .25s; }
.h2 { left: 30px; bottom: 3px;  animation-delay: .50s; }
.h3 { left: 10px; bottom: 3px;  animation-delay: .75s; }
.h4 { left: 20px; bottom: 3px;  animation-delay: 1s; }

@keyframes floatHeart {
  0% {
    opacity: 0;
    transform: translateY(0) scale(.6);
  }

  15% {
    opacity: 1;
  }

  75% {
    opacity: 1;
  }

  90% {
    opacity: 0;
    transform: translateY(-35px) scale(1);
  }
}