/*---- Interactive Menu ----*/
.LancasterMenu {
  width: 35px;
  height: 35px;
  max-width: calc(10vh - 20px);
  max-height: calc(10vh - 20px);
  min-width: 25px;
  min-height: 25px;
  margin: 10px;
  z-index: 5;
  cursor: pointer;
  background-image: url(images/Menu.png);
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 50%;
  background-color: transparent;
  transition-duration: .5s;
  transform: rotate(0deg);
  position: relative;
}
.LancasterMenu.active {
  opacity: .5;
  animation: none;
  transform: rotate(360deg);
}
.carousel-container {
  position: relative;
  height: 100%;
  overflow: hidden;
  z-index: 2;
  width: calc(90% - 1px);
  border: solid .5px #ffffff80;
  border-radius: 20px;
}
.carousel-track {
  display: flex;
  transition: transform 0.2s ease;
}
.carousel-slide {
  max-height: 100vh;
  min-width: 100%;
  overflow: hidden;
  box-sizing: border-box;
}
.carousel-btn {
  position: absolute;   /* float inside carousel-container */
  top: 50%;             /* halfway down */
  transform: translateY(-50%);
  border: none;
  color: #000000;
  font-size: 2rem;
  cursor: pointer;
  background-color: transparent;
  z-index: 3;           /* above iframe */
}
.prev-btn {
  left: 0px;           /* place on left side */
  height: 110px;
  width: auto;
  opacity: .6;
  transition-duration: .5s;
}
.prev-btn:hover {
  opacity: .8;
}
.next-btn {
  right: 0px;          /* place on right side */
  height: 110px;
  width: auto;
  opacity: .6;
  transition-duration: .5s;
}
.next-btn:hover {
  opacity: .8;
}
