.PWLinkText {
  color: #ffff00;
  flex-direction: column;   /* stack vertically */
  justify-content: center;
  align-items: center;      /* center horizontally */
  font-size: .8em;
  border: solid 1px #ffffff;
  max-width: calc(100% - 42px);
  text-align: center;
  font-family: 'futura';
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
}
.PWLinkText:hover {
  color: #ffff00;
  text-decoration: underline;
  background-color: rgba(255,255, 255, .2);
}
.PWStore {
  width: 200px;
  height: auto;
  margin-top: 20px;
  margin-bottom: 30px;
}