.PasswordSale {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  height: 50%;
  box-sizing: border-box;
  color: #ffffff;
}
.PWLink1 {
  background-color: rgba(126, 4, 174, 0.6);
  background-image: url('fmp3simages/Stripe.png');
  background-position: bottom center;
  background-size: 100% auto;
  background-repeat: no-repeat;
}
.PWLink2 {
  background-color: rgba(0, 161, 247, 0.6);
  background-image: url('fmp3simages/Paypal.png');
  background-position: bottom center;
  background-size: 100% auto;
  background-repeat: no-repeat;
}
.PWLink3 {
  background-color: rgba(35, 35, 35, 0.6);
  background-image: url('fmp3simages/Square.png');
  background-position: bottom center;
  background-size: 100% auto;
  background-repeat: no-repeat;
}
.PWLink1,
.PWLink2,
.PWLink3 {
  width: calc(33% - 5px);
  margin: 0px;
  height: 100%;
  flex-direction: column;
  border-radius: 0px;
  position: relative;
  border-top-left-radius: 20px;
  border-bottom-right-radius: 20px;
  border: solid 1px #ffffff;
  display: inline-flex;
  justify-content: center;  /* horizontal */
  align-items: center;      /* vertical */
}
.PWLink1:hover, .PWLink2:hover, .PWLink3:hover {
  background-color: #000000;
}
.PWLinkText {
color: #ffff00;
font-size: 30px;
margin: 30px;
}