.PasswordSale {
  padding: 50px 50px 50px 50px;
  width: calc(100% - 100px);
  height: 100%;
  box-sizing: border-box;
  font-size: 30px;
  color: #ffffff;
  display: inline-block;
}
.PWLink1 {
  background-color: rgba(126, 4, 174, 0.5);
  background-image: url('fmp3simages/Stripe.png');
  background-position: center top;
  background-size: 100% auto;
  background-repeat: no-repeat;
}
.PWLink2 {
  background-color: rgba(0, 161, 247, 0.5);
  background-image: url('fmp3simages/Paypal.png');
  background-position: center top;
  background-size: 100% auto;
  background-repeat: no-repeat;
}
.PWLink3 {
  background-color: rgba(35, 35, 35, 0.5);
  background-image: url('fmp3simages/Square.png');
  background-position: center top;
  background-size: 100% auto;
  background-repeat: no-repeat;
}
.PWLink1,
.PWLink2,
.PWLink3 {
  width: 298px;
  height: 500px;
  max-height: 80dvh;
  display: flex;
  flex-direction: column;
  justify-content: center; /* vertical centering */
  align-items: center;     /* horizontal centering */
  text-align: center;
  border-radius: 0px;
  position: relative;
  border-top-left-radius: 20px;
  border-bottom-right-radius: 20px;
  border: solid 1px #ffffff;
}
.PWLink1:hover, .PWLink2:hover, .PWLink3:hover {
  background-color: #000000;
}
.PWLinkText {
color: #ffff00;
font-size: 12px;
margin: 30px;
}
.PWImage {
height: auto;
width: 100px;
display: inline-block;
}
.PWName {
height: 40px;
width: auto;
margin: 10px;
display: inline-block;
}